.st0 {
    fill: #c8c8c898;
    stroke: blue;
    stroke-width: 1;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.st0:hover {
    fill: blue;
}

.st1 {
    fill: #c8c8c898;
    stroke: blue;
    stroke-width: 1;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.st1:hover {
    fill: blue;
}

.st2 {
    fill: #c8c8c898;
    stroke: blue;
    stroke-width: 1;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.st2:hover {
    fill: blue;
}

.st3 {
    fill: #c8c8c898;
    stroke: blue;
    stroke-width: 1;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.st3:hover {
    fill: blue;
}

.st4 {
    fill: #c8c8c898;
    stroke: blue;
    stroke-width: 1;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.st4:hover {
    fill: blue;
}

.st5 {
    font-family: 'Roboto-Regular';
}

.st6 {
    font-size: 14px;
}