.map-content {
    position: relative;
    width: fit-content;
    transition: 0.2s ease-in;
    height: max-content;
        overflow: auto;
}

.province-map {
    opacity: 0;
    transition: 0.2s ease-in;
}

.region-details {
    width: 100%;
        padding: 30px;
        border: 1px solid;
        border-radius: 11px;
        margin-top: 2rem;
    }
    
    .all-Centers {
        width: 100%;
        padding: 30px;
        border: 1px solid;
        border-radius: 11px;
        margin-top: 2rem;
    }
    
    .center-item {
        display: flex;
        justify-content: start;
        align-items: start;
        flex-direction: row;
        margin-bottom: 0.5rem;
    }
    
    .center-data {
        padding: 10px 30px;
    }
    
    .center-detail {
        font-weight: 600;
        font-size: 18px;
    }
    
    .center-feedback {
        width: 100%;
        padding: 30px;
        border: 1px solid;
        border-radius: 11px;
        margin-top: 2rem;
    }
    
    .center-feedback-input {
        width: 100%;
    }
    
    .center-feedback-phones {
        display: flex;
        justify-content: start;
        align-items: center;
    }
.province-map:hover {
    opacity: 1;
    transition: 0.2s ease-in;
}

.region-color {
    width: 100px;
    height: 50px;
    border: 1px solid;

}
.st0 {
    fill: #c8c8c898;
    stroke: blue;
    stroke-width: 1;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.st0:hover {
    fill: blue;
}

.st1 {
    fill: #c8c8c898;
    stroke: blue;
    stroke-width: 1;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.st1:hover {
    fill: blue;
}

.st2 {
    fill: #c8c8c898;
    stroke: blue;
    stroke-width: 1;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.st2:hover {
    fill: blue;
}

.st3 {
    fill: #c8c8c898;
    stroke: blue;
    stroke-width: 1;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.st3:hover {
    fill: blue;
}

.st4 {
    fill: #c8c8c898;
    stroke: blue;
    stroke-width: 1;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.st4:hover {
    fill: blue;
}

.st5 {
    font-family: 'Roboto-Regular';
}

.st6 {
    font-size: 14px;
}